<div id="application">
  <div id="messagesContainer"> 
    <span id="roomNumber">Sala No. <%= @chat.id %></span>
    <ul id="messages">
      <li class="message" id="0">
        <span class="datetime"><%= Time.now %></span>
        <span class="from">Chat:</span>
        <span class="messageBody">Bienvenido al Chat</span>
      </li> 
    </ul>
  </div>
  <div id="users"> 
  </div>
  <div id="messageFormContainer">
    <form action="/sendMessage" method="post" accept-charset="utf-8" id="messageForm"> 
      <label for="newMessage">Nuevo Mensaje:</label>
      <input type="text" name="newMessage" value="" id="newMessage"/>
      <input type="submit" value="Enviar"/>
    </form>
  </div>
</div>
<span id="chat_id" style="display:none;"><%= @chat.id %></span>
<script type="text/javascript" language="javascript" charset="utf-8">
  Chat.initialize()
</script>
