html {
  background:#090909;
}
#wrapper {
  background:#222222;
  text-align:center;
}

#page_content {
  width:450px;
  margin: 0 auto;
  margin-top: 50px;
  padding:30px;
  padding-top:8px;
  padding-bottom:45px;
}

h1 {
  font-size:2em;
  font-family: Monaco, Lucida Console, Verdana, Comic Sans MS;
  color:#ffffff;
}

#welcomeMessage {
  font-size:1.25em;
  color:#444444;
}

#loginContainer {
  text-align:center;
}

#loginContainer label {
  margin:10px;
  font-size:3em;
  color:#444444;
}

#loginSubmit {
  margin:10px;
}

#username, #chatRoom {
  background:#444444;
  border:2px #888888 solid;
  font-size:2em;
  color:#efefef;
  text-align:center;
}

#errors {
  position:absolute;
  text-align:center;
  width:450px;
  top:0;
  background:#ff9999;
  margin:0 auto;
  color:#000000;
  font-weight:700;
}

#application {
  width:650px;
  height:480px;
  position:relative;
  left:-100px;
}

#messages {
  position:relative;
  float:left;
  width:492px;
  height:312px;
  background:#ffffff;
  border:1px solid #000000;
  overflow:auto;
  text-align:left;
  padding:4px;
  font-family: Monaco, Lucida Console, Verdana, Comic Sans MS;
  font-size:1.2em;
}

#users {
  position:relative;
  float:right;
  width:145px;
  height:286px;
  background:#efefef;
  border:1px solid #000000;
  overflow:auto;
}

#messageForm {
  position:relative;
  float:left;
  width:640px;
  border:1px solid #000000;
  color:#ffffff;
  font-weight:700;
  background:#000000;
  font-family:sans-serif;
  border:1px solid #444444;
  padding:4px;
}

#messageForm * {
  position:relative;
  float:left;
}

#newMessage {
  width:400px;
}

#roomNumber {
  font-weight:700;
  color:#ffffff;
  font-family: Monaco, Lucida Console, Verdana, Comic Sans MS;
}

.user {
  padding: 3px 0;
  font-size:0.85em;
  background:#afafaf;
}

.last_poll {
  font-size:0.75em;
  color:#efefef;
  font-family: Arial;
}

.time_ago {
  font-size:0.45em;
  color:#7f7f7f;
}

.from {
  font-size: 0.65em;
}

.username {
  font-size: 1.4em;
}

.messageBody {
  font-size:14px;
}

#smileysContainer {
  background:#adadad;
  border:2px solid #eeeeee;
}

.checkBoxText {
  font-size: 0.7em;
  font-weight: bold;
  font-family: Verdana, Monaco, Arial, Times;
  position:relative;
  top:-3px;
}

.userListTitle {
  font-size:0.8em; 
  font-weight: bold;
  font-family: Verdana, Monaco, Arial, Times;
  height:32px;
  width:145px;
  background:#efefef;
  border:1px solid #000000;
  display:block;
  float:right;
}

#sendMessageButton {
  font-size: 0.8em;
  font-family: Monaco, Lucida Console, Verdana, Comic Sans MS;
  float:right;
  width:100px;
}

#messageForm label {
  font-size: 0.8em;
  font-family: Monaco, Lucida Console, Verdana, Comic Sans MS;
}
